body {
  background-image: var(--background-image); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
}

.quote-container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 20px;
  border-radius: 8px;
}

.quote-text {
  font-size: 24px;
  margin: 0;
}

.quote-author {
  font-size: 18px;
  margin: 0;
}

button {
  
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  
}

.quote-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.quote-button:hover {
  background-color: #555;
}

.quote-button i {
  margin-right: 8px; 
}


button:hover {
  background-color: #555;
}
